
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notemanagerapp">
    <application
        android:theme="@style/Theme.NoteApp">
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.AddNoteActivity"/>
        <activity android:name=".activities.WebViewActivity"/>
    </application>
</manifest>
